<section>
  <header>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
          <mat-icon svgIcon="helloIcon"></mat-icon>
        <span>Welcome to {{ title }}!</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>

  <article>
    <mat-grid-list cols="2" color="primary">
      <mat-grid-tile>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <img width="75" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> Some links to help you:
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">
              <a class="urlToOtherWeb" target="_blank" rel="noopener" href="https://angular.io/tutorial">
                <button mat-raised-button>
                  <mat-icon svgIcon="earthIcon"></mat-icon>
                  Tour of Heroes
              </button>
              </a>
          </mat-list-item>
          <mat-list-item role="listitem">
              <a class="urlToOtherWeb"  target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">
                <button mat-raised-button>
                  <mat-icon svgIcon="earthIcon"></mat-icon>
                  CLI Documentation
              </button>
              </a>
          </mat-list-item>
          <mat-list-item role="listitem">
              <a class="urlToOtherWeb"  target="_blank" rel="noopener" href="https://blog.angular.io/">
                <button mat-raised-button>
                  <mat-icon svgIcon="earthIcon"></mat-icon>
                  Angular blog
              </button>
              </a>
          </mat-list-item>
        </mat-list>  
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <h2>Material samples</h2>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">
              <a class="urlToOtherWeb"  target="_blank" rel="noopener" href="https://material.angular.io/">
                <button mat-raised-button>
                  <mat-icon svgIcon="earthIcon"></mat-icon>
                  Angular Material
              </button>
              </a>
          </mat-list-item>
          <mat-list-item role="listitem">
              <a class="urlToOtherWeb"  target="_blank" rel="noopener" href="https://material.angular.io/components/categories">
                <button mat-raised-button>
                  <mat-icon svgIcon="earthIcon"></mat-icon>
                  Components
              </button>
              </a>
          </mat-list-item>
          <mat-list-item role="listitem">
              <a class="urlToOtherWeb" target="_blank" rel="noopener" href="https://github.com/angular/material2">
                <button mat-raised-button>
                  <mat-icon svgIcon="earthIcon"></mat-icon>
                  Gihub
              </button>
              </a>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
    </mat-grid-list>
  </article>
</section>